* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Inconsolata", monospace;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin-top: 14vw;
  padding-right: 1vw;
  padding-bottom: 5vw;
  padding-left: 1vw;
}

h1 {
  font-size: 60px;
}

.date {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 40px;
  margin: 30px 0;
  color: #000;
}

.loadingDisplay h2 {
  text-align: center;
}

.processing {
  background-color: #fff203;
}

p {
  font-size: 26px;
  margin: 5px 0;
}

ul {
  max-width: 450px;
  list-style: none;
}

.name {
  min-width: 200px;
}

input {
  cursor: pointer;
}

.order {
  display: flex;
  margin-bottom: 2vw;
  padding: 20px;
  border: 0.3vw solid #000;
  border-radius: 0px;
  font-size: 26px;
  justify-content: space-between;
}

.complete {
  background: rgba(34, 139, 34, 0.5);
  pointer-events: none;
  opacity: 0.4;
}

.completeOrder {
  background-color: #c1ddc6 !important;
}

.selected {
  display: none;
}

/* .highlight {
  background: yellow;
  color: red;
} */

button {
  background: transparent;
  border: none;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.quantity {
  font-weight: 700;
  font-size: 2em;
  margin-right: 20px;
  margin-top: -7px;
}

button,
a {
  transition: all 0.3s ease-in-out;
}

button:hover,
a:hover {
  background: black;
  color: white;
}

.btn,
.loadingDisplay,
.button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  margin-bottom: 40px;
}

.loadingDisplay {
  flex-direction: column;
}

.button {
  align-items: center;
}

.button button {
  margin: 20px;
}

.pdfGeneration {
  display: flex;
  flex-direction: row;
}

.loadingDisplay img {
  width: 300px;
  margin: 0 auto;
}

.individualShip {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  align-self: end;
}

input {
  margin-right: 10px;
}

.tinyText {
  font-size: 18px;
}

button.processOrder {
  padding: 5px;
  font-size: 14px;
  margin-top: 5px;
}

nav {
  text-align: center;
  margin-bottom: 40px;
  color: black;
}

li {
  color: black;
  font-size: 26px;
  display: flex;
  margin-bottom: 30px;
}

a {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.blankOut {
  /* pointer-events: none; */
  background: #c7c3c3;
  /* opacity: 0.5; */
}

.pdfReady {
  /* background: yellow; */
  background: rgba(34, 139, 34, 0.5);
  /* opacity: 0.5; */
}

.errors {
  font-weight: bold;
  color: red;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manualComplete {
  pointer-events: none;
  background: red;
  /* opacity: 0.5; */
}

.error-btn {
  background-color: red;
  color: white;
  border-color: black;
}

.note-sent {
  background-color: #f3d3ff;
}

img {
  height: 100px;
}

.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 10px;
  width: 100%;
  background: black;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.menubar {
  align-items: center;
  background-color: #ffe3f6;
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 3;
  display: flex;
  height: 8vw;
  padding-top: 0vw;
  padding-right: 2.3vw;
  padding-left: 2.3vw;
  justify-content: space-between;
}

.buttonRounded,
.pdfGeneration a {
  display: flex;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 26px;
  height: auto;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0.2vw;
  border-radius: 1vw;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  max-width: 150px;
  margin-right: 30px;
  height: 88px;
  box-sizing: border-box;
}

.purchase {
  border-color: #008017;
  background-color: #c1ddc6;
  color: #006b14;
}

.reprint {
  border-color: #007a6c;
  background-color: #ccfff9;
  color: #007a6c;
}

.shipped {
  border-color: #000;
  background-color: #fff;
}

.button-proc {
  background-color: #000;
  border-color: #fff;
  color: white;
}

.pdfGenerationDisabled a,
.opacity {
  opacity: 0.3;
  pointer-events: none;
}

.buttons {
  display: flex;
  align-items: center;
}
