* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 40px;
  margin: 30px 0;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  margin: 5px 0;
}

li {
  font-size: 20px;;
}

ul {
  margin-left: 20px;
}

input {
  cursor: pointer;
}

.order {
  display: flex;
  flex-direction: column;
  border: 10px solid black;
  margin-bottom: 20px;
  padding: 20px;
  width: 25%;
}

.complete {
  background: rgba(34, 139, 34, 0.5);
  pointer-events: none;
}

.selected {
  display: none;
}

.highlight {
  background: yellow;
  color: red;
}

button {
  background: transparent;
  border: none;
  border: 5px solid black;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
}

.orderFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 20px;
}

.orderFlex img {
  width: 200px;
  height: 200px;
}

.btn,
.loadingDisplay,
.serious {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loadingDisplay {
  flex-direction: column;
}

.serious {
  align-items: center;
}

.serious button {
  margin: 20px;
}

.pdfGeneration {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pdfGeneration a {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  position: absolute;
  font-weight: bold;
  bottom: -15px;
  left: 20px;
}

.pdfGeneration a:hover {
  color: red;
}

.loadingDisplay img {
  width: 300px;
  margin: 0 auto;
}

.individualShip {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  align-self: end;
}

input {
  margin-right: 10px;
}

.tinyText {
  font-size: 18px;
}

button.processOrder {
  padding: 5px;
  font-size: 14px;
  margin-top: 5px;
}
